name: Prettier Workflow

on:
  workflow_call:

jobs:
  # Confirm that prettier was run on the changes
  prettier:
    name: Prettier Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies and run prettier-check
        run: |
          npm install
          npm run prettier-check
